<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %> 
</head>
<body>
    <header class="header">
    <%- include('partials/header')  %>    
    
    </header>
    <main class="main">
        <img class="banner" src="/images/img-home-banner.jpg" alt="Banner ML">
            <section>
                <h2>Productos</h2>
                <% regularProducts.forEach(regularProduct => { %>
                    <a href="./data/productsDataBase.json/<%=regularProduct.id%>"> 
                        <article class="articulo">
                            <img src="./images/products/<%=regularProduct.img%>">
                                <div class="caja-articulo">
                                    <div class="logo-envio">
                                        <i class="fa-sharp fa-solid fa-truck"></i>
                                    </div> 
                                    <div class="precio-y-descuento">
                                        <span class="precio"> <%=regularProduct.price%></span><br>
                                        <span class="descuento"><%=regularProduct.discount%></span></div>
                                    <div class="descripcion"><%=regularProduct.description%></div>
                                </div>
                        </article>
                    </a>
                <% }) %>
                


            </section>
            <section>
                <h2>Ofertas</h2>
                
      </main>


    
    <footer class="footer">
      <div class="elementos">
        <section>

            <i class="fa-solid fa-credit-card"></i>

            <h3>Pagá con tarjeta o en efectivo</h3>

            <p>Con Mercado Liebre Cash, tenés cuotas sin interés<br>
                con tarjeta o efectivo en puntos de pago.<br>
                ¡Y siempre es seguro!</p>

        </section>
        <section>

            <i class="fa-solid fa-gift"></i>

            <h3>Envío gratis desde $ 2.500</h3>

            <p>Solo por estar registrad@ en Mercado Liebre,<br> 
                tenés envíos gratis en miles de productos.<br>
                Es un beneficio de Mercado Puntos.</p>

        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>

            <h3>Seguridad, de principio a fin</h3>

            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br> 
                no hay nada que no puedas hacer,<br>
                porque estás siempre protegid@.</p>
        
        </section>
      </div>  
        <section>

            <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>

        </section>
        <section>
          <p class="seal">Made by TravellerCoder 2023</p>
      </section>
    </footer>
</body>
